{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="row">
        <center><h1>Birds</h1></center><br><br>
        <p>Bird, (class Aves), any of the more than 10,400 living species unique in having feathers, the major characteristic
            that distinguishes them from all other animals. A more-elaborate definition would note that they are warm-blooded
            vertebrates more related to reptiles than to mammals and that they have a four-chambered heart (as do mammals), 
            forelimbs modified into wings (a trait shared with bats), a hard-shelled egg, and keen vision, the major sense
            they rely on for information about the environment. Their sense of smell is not highly developed, and auditory
            range is limited. Most birds are diurnal in habit. More than 1,000 extinct species have been identified from 
            fossil remains.</p>
    </div>

<div class="row">
    <div class="col-lg-6">
     <center><img src="./parrt2.jpeg" width="600" height="400"></center>
    </div>
    <div class="col-lg-6">
    <p>Parrots (Psittaciformes), also known as psittacines (/ˈsɪtəsaɪnz/),[1][2] are birds with a strong curved beak, upright 
        stance, and clawed feet.[a] They are conformed by four families that contain roughly 410 species in 101 genera, found 
        mostly in tropical and subtropical regions. The four families are the Psittaculidae (Old World parrots), Psittacidae 
        (African and New World parrots), Cacatuoidea (cockatoos), and Strigopidae (New Zealand parrots). One-third of all parrot
        species are threatened by extinction, with a higher aggregate extinction risk (IUCN Red List Index) than any other
        comparable bird group.[3] Parrots have a generally pantropical distribution with several species inhabiting temperate 
        regions as well. The greatest diversity of parrots is in South America[4] and Australasia.Parrots—along with ravens, crows, 
        jays, and magpies—are among the most intelligent birds, and the ability of some species to imitate human speech enhances 
        their popularity as pets. They form the most variably sized bird order in terms of length; many are vividly coloured 
        and some, multi-coloured. Most parrots exhibit little or no sexual dimorphism in the visual spectrum.The most important
        components of most parrots' diets are seeds, nuts, fruit, buds, and other plant material. A few species sometimes eat
        animals and carrion, while the lories and lorikeets are specialised for feeding on floral nectar and soft fruits. 
        Almost all parrots nest in tree hollows (or nest boxes in captivity), and lay white eggs from which hatch altricial 
        (helpless) young.The most important components of most parrots' diets are seeds, nuts, fruit, buds, and other plant 
        material. A few species sometimes eat animals and carrion, while the lories and lorikeets are specialised for feeding 
        on floral nectar and soft fruits. Almost all parrots nest in tree hollows (or nest boxes in captivity), and lay white 
        eggs from which hatch altricial (helpless) young.
    </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6"><br>
      <p>Birds are a group of warm-blooded vertebrates constituting the class Aves (/ˈeɪviːz/), characterised by feathers, 
        toothless beaked jaws, the laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart, and a strong 
        yet lightweight skeleton. Birds live worldwide and range in size from the 5.5 cm (2.2 in) bee hummingbird to the
        2.8 m (9 ft 2 in) common ostrich. There are over 11,000 living species, more than half of which are passerine, or 
        "perching" birds. Birds have wings whose development varies according to species; the only known groups without 
        wings are the extinct moa and elephant birds. Wings, which are modified forelimbs, gave birds the ability to 
        fly, although further evolution has led to the loss of flight in some birds, including ratites, penguins, 
        and diverse endemic island species. The digestive and respiratory systems of birds are also uniquely adapted for
        flight. Some bird species of aquatic environments, particularly seabirds and some waterbirds, have further evolved
        for swimming. The study of birds is called ornithology.Birds are feathered theropod dinosaurs and constitute the 
        only known living dinosaurs. Likewise, birds are considered reptiles in the modern cladistic sense of the term,
        and their closest living relatives are the crocodilians. Birds are descendants of the primitive avialans (whose 
        members include Archaeopteryx) which first appeared during the Late Jurassic. According to recent estimates, 
        modern birds (Neornithes) evolved in the Late Cretaceous and diversified dramatically around the time of the 
        Cretaceous–Paleogene extinction event 66 million years ago, which killed off the pterosaurs and all non-avian 
        dinosaurs.Many species of birds are economically important as food for human consumption and raw material in 
        manufacturing, with domesticated and undomesticated birds being important sources of eggs, meat, and feathers.
        Songbirds, parrots, and other species are popular as pets. Guano (bird excrement) is harvested for use as a 
        fertiliser. Birds figure throughout human culture. About 120 to 130 species have become extinct due to human
        activity since the 17th century, and hundreds more before then. Human activity threatens about 1,200 bird 
        species with extinction, though efforts are underway to protect them. Recreational birdwatching is an important
        part of the ecotourism industry.

    </p>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
            <h4>Crow</h4>
            <p>A crow is a bird of the genus Corvus, or more broadly a synonym for all of Corvus. The word "crow"
            is used as part of the common name of many species. The related term "raven" is not linked scientifically
            to any certain trait, but is rather a general grouping for larger species of Corvus.</p>
        </div>
        <div class="col-lg-6">
            <h4>pegion</h4>
           <img src="./pegion.jpg"height="200" width="400">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img src="./crow2.jpg" width="400" height="200">
        </div>
        <div class="col-lg-6">
            <p>Columbidae is a bird family consisting of doves and pigeons. It is the only family in the order Columbiformes. 
            These are stout-bodied birds with short necks and short slender bills that in some species feature fleshy ceres .
            The domestic pigeon is a pigeon subspecies that was derived from the rock dove or rock pigeon. The rock pigeon is
             the world's oldest domesticated bird.</p>
        </div>
      </div>
    </div>
</div>








    
    {% comment %} <script type="text/js" src="./bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>   {% endcomment %}
</body>
</html>